.header {
    align-items: center;
    background: $off-black;
    display: flex;
    padding: $s-size;
}

.header__movie-db-logo {
    height: 56px;
    margin-left: auto;
}

.header__title {
    color: white;
    margin-right: $xl-size;
}

.header__link {
    margin-right: $s-size;
}