.movies {
    display: flex;
    margin-right: $m-size;
    padding: $m-size;
}

.movies a {
    text-decoration: none;
}

.movie {
    border: 1px solid black;
    margin-right: $m-size;
    width: 144px;
}

.movie__poster {
    height: 220px;
    width: 144px;
}

.movie__info {
    color: $off-white;
}